.Contact {
  padding: 25px 0;
}

.contact-row {
  align-items: center;
}

.contact-title {
  color: white;
  font-weight: bold;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
